.gradle
/access.properties
/local.properties
/cloud.properties
/maven.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
local.properties
*.iws
*.iml
*.tmp
.idea
bin/
gen/
out/
proguard/